.home-bg {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
}

.todo-items-card {
    width: 60vw;
    padding: 50px 50px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media all and (max-width: 768px){
    .todo-items-card{
        margin: 50px 0px;
        padding: 30px 10px;
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

}

.heading {
    margin-top: 0px;
    font-size: 42px;
    align-self: center;
}
@media all and (max-width: 768px){
    .heading{
        font-size: 32px;
    }
}

.todos {
    margin: 0px;
}

.input-area {
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    flex-shrink: 1;

    display: flex;
    justify-content: center;
    align-items: stretch;
}

@media all and (max-width: 768px){
    .input-area{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.input-element {
    width: 70%;
    background-color: #ffffff;
    outline: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 4px 10px;
    font-size: 18px;
}
@media all and (max-width: 768px){
    .input-element{
        width: 100%;
        border-radius: 4px;
        margin-bottom: 5px;
        font-size: 22px;
    }
}

.add-btn {
    cursor: pointer;
    padding: 6px 16px;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #1c098a;
    color: #fff;
    outline: none;
    font-size: 18px;
}
.save-btn{
    margin-top: 10px;
        cursor: pointer;
        padding: 6px 16px;
        border: none;
        border-radius: 4px;
        background-color: #1c098a;
        color: #fff;
        outline: none;
        font-size: 18px;
}

@media all and (max-width: 768px){
    .add-btn{
        margin-top: 5px;
        font-size: 16px;
        border-radius: 4px;
        align-self: flex-end;
        padding: 5px 15px;
    }
    .save-btn{
        margin-top: 20px;
        font-size: 16px;
    }
}